# Ignore wp-config.php and .htaccess

wp-config.php
.htaccess

#Don't ignore themes dir, buyt ignore everything inside
!/wp-content
/wp-content/themes/*

#Don't ignore telurochild theme
!/wp-content/themes/telurochild
